In [31]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import accuracy_score, r2_score
import seaborn as sns

In [2]:
train= pd.read_csv('train.tsv', sep='\t')

In [3]:
test= pd.read_csv('test.tsv', sep='\t')

In [6]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [7]:
train.isnull().sum()

train_id                  0
name                      0
item_condition_id         0
category_name          6327
brand_name           632682
price                     0
shipping                  0
item_description          4
dtype: int64

In [9]:
X_train = train[['item_condition_id', 'shipping']]

In [11]:
X_train.isnull().sum()

item_condition_id    0
shipping             0
dtype: int64

In [12]:
y_train = train['price']

In [14]:
y_train.isnull().sum()

0

In [15]:
X_test = test[['item_condition_id', 'shipping']]

In [17]:
X_test.isnull().sum()

item_condition_id    0
shipping             0
dtype: int64

In [18]:
y_test = []

In [45]:
model = LinearRegression()

In [46]:
model.fit(X_train, y_train)

LinearRegression()

In [51]:
predicted_y = model.predict(X_train)

In [52]:
print('predicted price values are: ', predicted_y)

predicted price values are:  [21.46326334 29.30586051 23.18288967 ... 30.16567367 21.46326334
 31.02548683]

In [53]:
accuracy = r2_score(y_train, predicted_y)

In [54]:
print('the r2 score is: ', accuracy)

the r2 score is:  0.009840228610682566